body {
    margin: 0;
    background:black;
}

/*-------//-HEADER-//-------*/
.header {
    margin: 0 auto;
    height: 6rem;
    width: 100vw;;
    display: flex;
    justify-content: center;

}
.header h1 {
    align-self: center;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.header-image {
    opacity: .7;
}
/*-------//-MAIN-//-------*/

.search-wrapper {
    margin: 0 auto;
    width:80vw;
    height: auto;
    background:#bdc192;
    padding:2rem;
    border-radius: 1rem;
}

/*----form-functionen----*/
.search-wrapper_form {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding:0rem 3rem;
}
/*--search-rutan--*/
.search {
    margin-right: 2rem;
    height: 3rem;
    width: 80vw;
    border-radius: .5rem;
    border: solid white;
}
/*--per-page-rutan--*/
.per-page {
    margin-right: 2rem;
    height: 3.5rem;
    width: 4.3rem;
    border-radius: .5rem;
    border: solid white;
    font-size: 20px;
    padding: 0.5rem;
}
/*--search--knappen--*/
.button {
    border-radius: .5rem;
    border: solid 1px white;
    background-color: #f0f4c3;
    color:black;
}
/*----galleri----*/

.search-wrapper_pic_list {
    padding: 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.pictures img:hover {
    transform: scale(1.5);
    border: solid 2px white;
    border-radius: 5px;
    cursor: pointer;
}

.pictures img{
    transition: all 1s ease;
}
/*---Overlay----*/

#search-wrapper_overlay {
    display: block;
    margin: 0 auto;
    height: auto;
    width: auto;
    justify-content: center;
    background: rgba(0, 0, 0, 0.653);
    
}

#search-wrapper_overlay img{
    align-self: center;
    position: contain;

}
.search-wrapper_overlay-hide {
    display: none !important;
}
/*
.pictures p {
    position: relative;
    margin:0;
    top: 0.5rem;
    font-size: 10px;
    color: white;
}
*/

/*----pagination-styles----*/
.search-wrapper-pagination {
    margin-top: 3rem;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.search-wrapper-pagination a {
    padding: .5rem 1rem;
    margin: 2px;
    border: solid white;
    text-decoration: none;
    color:white;
    border-radius: .5rem;
}

/*--------//Media-Queries//--------*/

@media screen and (max-width: 430px) {
    .search {
        margin-left: -3.64rem;  
    }
    .button {
        margin-right: 3.5rem;
    }  
    .pictures img:hover {
        transform: scale(1.4);
        border: solid 1px white;
    }
    .header-image {
        align-self: center;
        opacity: .7;
        height: 60%;
        width: 20%;
    }
}
@media screen and (max-width: 375px) {
    .search {
        margin-left: -3.6rem; 
        margin-right: 1rem; 
    }
    .button {
        margin-right: 4rem;
    } 
    .pictures img:hover {
        transform: scale(1.3);
        border: solid 1px white;
    } 
    .per-page {
        margin-right:1rem;
    }
}
@media screen and (max-width: 325px) {
    .search {
        margin-left: -4rem; 
        margin-right: 0rem;
     
    }
    .button {
        margin-right: 4rem;
    }
    .pictures img:hover {
        transform: scale(1.1);
        border: solid 1px white;
    }
    .per-page {
        margin-right:0;
    }
}

