body {
    margin: 0;
    background:black;
}

/*-------//-HEADER-//-------*/
.header {
    margin: 0 auto;
    height: 6rem;
    width: 100vw;;
    display: flex;
    justify-content: center;

}
.header h1 {
    text-align: center;
    color: white;
}
/*-------//-MAIN-//-------*/

.search-wrapper {
    margin: 0 auto;
    width:80vw;
    height: auto;
    background:#bdc192;
    padding:2rem;
    border-radius: 1rem;
}

/*----form-functionen----*/
.search-wrapper_form {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding:0rem 3rem;
}

.search {
    margin-right: 2rem;
    height: 3rem;
    width: 80vw;
    border-radius: .5rem;
    border: solid white;
}

.button {
    border-radius: .5rem;
    border: solid 1px white;
    background-color: #f0f4c3;
    color:black;
}
/*----galleri----*/

.search-wrapper_pic_list {
    padding: 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.pictures img:hover {
    transform: scale(1.5);
    border: solid 2px white;
}

.pictures img{
    transition: all 1s ease;
    object-fit: contain;
   /* 
   border: solid 2px white;
    width:  200px;
    height: 200px;
    object-fit: contain;
    */

}

.bilder p {
    color: white;
}

/*--------//Media-Queries//--------*/

@media screen and (max-width: 430px) {
    .search {
        margin-left: -0.7rem;  
    }

    .button {
        margin-right: 3.5rem;
    }  
}
@media screen and (max-width: 375px) {
    .search {
        margin-left: -1.5rem;  
    }

    .button {
        margin-right: 4rem;
    }  
}
@media screen and (max-width: 325px) {
    .search {
        margin-left: -3rem;  
    }

    .button {
        margin-right: 4rem;
    }  
}

