body {
    margin: 0;
    background:black;
}

/*-------//-HEADER-//-------*/
.header {
    margin: 0 auto;
    height: 6rem;
    width: 100vw;;
    display: flex;
    justify-content: center;

}
.header h1 {
    align-self: center;
    text-align: center;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
.header-image {
    opacity: .7;
}
/*-------//-MAIN-//-------*/

.search-wrapper {
    margin: 0 auto;
    width:80vw;
    height: auto;
    background:#bdc192;
    padding:2rem;
    border-radius: 1rem;
}
/*----form-functionen-med-search-perpage-och-searchbutton----*/
.search-wrapper_form {
    width: auto;
    display: flex;
    justify-content: space-between;
    padding:0rem 3rem;
}
/*--search-rutan--*/
.search {
    margin-right: 2rem;
    height: 3rem;
    width: 80vw;
    border-radius: .5rem;
    border: solid white;
}
/*--per-page-rutan--*/
.per-page {
    margin-right: 2rem;
    height: 3.5rem;
    width: 4.3rem;
    border-radius: .5rem;
    border: solid white;
    font-size: 20px;
    padding: 0.5rem;
}
/*--search--knappen--*/
.button {
    border-radius: .5rem;
    border: solid 1px white;
    background-color: #f0f4c3;
    color:black;
}
/*----GALLERI-galleri-GALLERI---*/

.search-wrapper_pic_list {
    padding: 3rem;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;   
}

.pictures img:hover {
    cursor: pointer;
}
.pictures img {
    transition: all 1s ease;
}

/*---LIGHTBOX--Overlay-fönstret-LIGHTBOX---*/
#search-wrapper_overlay {
    margin-top: 3rem;
    display: flex;
    justify-content: space-between;
    height: 100%;
    width: 100%;
    text-align:center;
    overflow: auto;
    background: rgba(0, 0, 0, 0.475);
    border: solid white;  
}
#search-wrapper_overlay img {
    padding:0;
    margin-top: 1.5rem;
    position:relative;
}
.search-wrapper_overlay-hide {
    display: none !important;
}

#search-wrapper_overlay p {
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    letter-spacing: 2px;
    text-align: center; 
}
/*---Wrapper för bilden som genereras i Lightbox---*/
#image-wrapper {
    display: block;
}
#image-wrapper img {
    width: 100%;
    height: auto;
}

/*----Arrows-in-LIghtbox---*/
.left-arrow:hover,
.right-arrow:hover {
  background-color: rgba(255, 255, 255, 0.53);
}

.left-arrow, .right-arrow {
  cursor: pointer;
  position: absolute;
  align-self: center;
  margin-bottom: 5rem;
  padding: 20px;
  color: white;
  transition: 0.6s ease;
  border-radius: 0 10px 10px 0;
}
.right-arrow {
    border-radius: 10px 0 0 10px;
}

/*----pagination-styles----*/
.search-wrapper-pagination {
    margin-top: 3rem;
    padding-inline-start: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
}
.search-wrapper-pagination a {
    padding: .5rem 1rem;
    margin: 2px;
    border: solid white;
    text-decoration: none;
    color:white;
    border-radius: .5rem;
}

/*--------//Media-Queries//--------*/
@media screen and (max-width: 768px) {
    .left-arrow, .right-arrow {
        height: 50px;
        width: 50px;
    }

}

@media screen and (max-width: 430px) {
    #search-wrapper_overlay {
        display: none;
    }
    .search {
        margin-left: -3.64rem;  
    }
    .button {
        margin-right: 3.5rem;
    }  
    .header-image {
        align-self: center;
        opacity: .7;
        height: 60%;
        width: 20%;
    }
    .pictures img:hover {
        transform: scale(1.4);
        border: solid 2px white;
    }
}
@media screen and (max-width: 375px) {
    .search {
        margin-left: -3.6rem; 
        margin-right: 1rem; 
    }
    .button {
        margin-right: 4rem;
    }
    .per-page {
        margin-right:1rem;
    }
}
@media screen and (max-width: 325px) {
    .search {
        margin-left: -4rem; 
        margin-right: 0rem;
    }
    .button {
        margin-right: 4rem;
    }
    .per-page {
        margin-right:0;
    }
    .pictures img:hover {
        transform: scale(1.2);
        border: solid 1.5px white;
    }
}